<!Doctype html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Blankiss</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Instrumentos
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="cantantes.html">Cantantes</a>
            </li>
        </ul>

    </div>

</nav>

<div id="app" class="container">

    <br/>
    <br/>

    <h1>Cantantes</h1>
    <br/>
    <a href="#" v-on:click="nuevo()" class="btn btn-success">Agregar</a>
    <br/>
    <br/>
    <table class="table table-inverse table-hover">
        <thead class="blue-grey lighten-4">
        <th>Id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>birthDate</th>
        <th>email</th>
        <th>Instrumentos</th>
        <th>Albums</th>
        <th>Acciones</th>
        </thead>
        <tbody>
        <tr class='clickable-row' v-for="item in list" :key="item.id">
            <td> {{ item.id }}</td>
            <td> {{ item.firstName }}</td>
            <td> {{ item.lastName }}</td>
            <td> {{ item.birthDate }}</td>
            <td> {{ item.email }}</td>
            <td>
            <span v-for="inst in item.instruments">
                {{ inst.instrumentId}},
            </span>
            </td>
            <td>
            <span v-for="albm in item.albums">
                {{ albm.title}},
            </span>
            </td>
            <td>
                <a href="#" v-on:click="editar(item)"> Editar </a>
                <a href="#" v-on:click="eliminar(item.id)"> Eliminar </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="md-form">
                        <input type="text" id="firstName" class="form-control" v-model="currentItem.firstName">
                        <label for="firstName" class="active">firstName</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="lastName" class="form-control" v-model="currentItem.lastName">
                        <label for="lastName" class="active">lastName</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="birthDate" class="form-control" v-model="currentItem.birthDate"
                               placeholder="yyyy-mm-dd">
                        <label for="birthDate" class="active">birthDate</label>
                    </div>

                    <div class="md-form">
                        <select id="inst" multiple v-model="currentItem.instruments">
                            <option v-for="option in instrumentos" v-bind:value="option">
                                {{ option.instrumentId }}
                            </option>
                        </select>
                        <label for="inst" class="active">Instrumentos</label>
                    </div>

                    <br/>
                    <h4>Albums</h4>

                    <table>
                        <tr v-for="alb in currentItem.albums">
                            <td>
                                <div class="md-form">
                                    <input type="text" id="title" class="form-control" v-model="alb.title">
                                    <label for="title" class="active">birthDate</label>
                                </div>
                            </td>
                            <td>
                                <div class="md-form">
                                    <input type="text" id="releaseDate" class="form-control" v-model="alb.releaseDate"
                                           placeholder="yyyy-mm-dd">
                                    <label for="releaseDate" class="active">birthDate</label>
                                </div>
                            </td>
                            <td>
                                <a href="#" v-on:click="eliminarAlbum(alb)"> Eliminar </a>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <a href="#" v-on:click="nuevoAlbum()" class="btn btn-success">Agregar Album</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="getData()">Close
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="guardar(currentItem)">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.4.0/vue-resource.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.common.js"></script>-->

<!--<script type="text/javascript" src="http://cdn.jsdelivr.net/vue.table/1.5.3/vue-table.js"></script>-->
<script src="js/cantante.js"></script>
</body>


</html>