<!Doctype html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Blankiss</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Instrumentos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cantantes.html">Cantantes</a>
            </li>
        </ul>

    </div>

</nav>

<div id="app" class="container">

    <br/>
    <br/>

    <h1>Instrumentos</h1>

    <br/>
    <a href="#" v-on:click="nuevo()" class="btn btn-success">Agregar</a>
    <br/>
    <br/>
    <table class="table table-inverse table-hover">
        <thead class="blue-grey lighten-4">
        <th>Instrumento</th>
        <th>Acciones</th>
        </thead>
        <tbody>
        <tr class='clickable-row' v-for="item in list" :key="item.instrumentId">
            <td> {{ item.instrumentId }}</td>
            <td>
                <a href="#" v-on:click="editar(item)"> Editar </a>
                <a href="#" v-on:click="eliminar(item.instrumentId)"> Eliminar </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="md-form">
                        <input type="text" id="form1" class="form-control" v-model="currentItem.instrumentId">
                        <label for="form1" class="active">Instrumento</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="getData()">Close
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="guardar(currentItem)">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.4.0/vue-resource.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.common.js"></script>-->

<!--<script type="text/javascript" src="http://cdn.jsdelivr.net/vue.table/1.5.3/vue-table.js"></script>-->
<script src="js/instrumentos.js"></script>
</body>


</html>